# Security
node_modules/
.env
.nexus_env/
.DS_Store
Intermediate/
Binaries/
Saved/
DerivedDataCache/
Builds/
*.xcodeproj
*.xcworkspace

# Temp / Distribution
dist/
dist 2/
*.sqlite
*.log
bridge/SignallingWebServer/logs/
shader_overlay/
*.zip
